.banner {
  height: 35vh;
  opacity: 0.1;
  background: url("https://www.dukehealth.org/sites/default/files/styles/hero_image_md/public/blog_post/Kid%20version_1932%20x%20862-draft03b.jpg?itok=BzOka2Uo")
    center center repeat-x;
  position: relative;
  padding: 10px;
}
