.maskDetailContainer {
  width: 66%;
  height: 100%;

  background-image: radial-gradient(
    circle,
    rgb(255, 255, 255),
    rgb(255, 255, 255, 0.7),
    rgb(255, 255, 255, 0.3)
  );
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.maskDetailContainer > img {
  object-fit: contain;
  width: 40%;
  padding: 40px;
}

.maskDetailContainer__info {
  align-self: center;
  padding: 20px;
}
