.newestMasks {
  font-family: "Sigmar One", cursive !important;
  font-size: 1.5rem;
  flex: 1;
}

.newestMasks > h1 {
  padding: 20px;
  text-align: center;
}

.newestMasks__masks > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
